// Colors
$accent-color: #4870ff;
$accent-color2: #9eacff;
$primary-color: #fff;
$secondary-color: #000;
$text-color: #4e4e4e;

// Fonts
$font-family: 'Montserrat', sans-serif;
$font-weights: (
  'regular': 200,
  'medium': 600,
  'bold': 800,
);

// Transition
$transition-ease: ease 300ms;
$transition-700: ease 700ms;
