@import '../../global_css/mixins.scss';
@import '../../global_css/variables.scss';

// New review
.contactInfo {
  padding: 0vh 3.5vw 0vh 3.5vw;
  margin-top: 14.5vh;
}

.contactInfo_wrapper {
  border-bottom: 1px #d3d3d3 solid;
  border-top: 1px #d3d3d3 solid;
  overflow: hidden;
  height: 4.2rem;
  transition: ease 300ms;

  & h3 {
    font-size: 0.9rem;
    color: $text-color;
    font-weight: map-get($font-weights, regular);
    margin-top: 0.75rem;
  }
}

.contactInfo_wrapper_open {
  height: 28.3vh;
  max-height: 185px;
}

.contactInfo_title {
  display: flex;
  height: 4.2rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  & h2 {
    font-size: 1.1rem;
  }

  & img {
    width: 1.1rem;
  }
}

// Contact forms
.contact_forms {
  display: flex;
  flex-direction: column;
  padding: 0vh 3.5vw 0vh 3.5vw;
  margin-top: 5vh;

  & h1 {
    font-size: 1.85rem;
    margin-bottom: 1.1rem;
    margin-top: 1.25rem;
  }

  & input {
    width: 100%;
    height: 7vh;
    border: 1.3px #b6b6b6 solid;
    border-radius: 3px;
    margin-top: 0.48rem;
    padding: 0vh 4vw 0vh 4vw;
    font-size: 0.9rem;
    font-weight: map-get($font-weights, regular);
    color: #808080;

    &::placeholder {
      color: #808080;
    }
  }

  & textarea {
    width: 100%;
    height: 18.5vh;
    border: 1.3px #b6b6b6 solid;
    border-radius: 3px;
    margin-top: 0.48rem;
    padding: 0.76rem 4vw 0vh 4vw;
    outline: none;
    resize: none;
    color: #3d3d3d;
    font-family: $font-family;

    &::placeholder {
      color: #424242;
      font-family: $font-family;
      font-weight: map-get($font-weights, regular);
      font-size: 0.9rem;
    }
  }

  & button {
    @include button;
    height: 3.1rem;
    font-size: 0.9rem;
    margin-top: 1.1rem;
  }
}

// Errors
#contact_contactName_missing,
#contact_contactEmail_missing,
#contact_contactMsg_missing {
  border: 1.3px #ff555a solid;

  &::placeholder {
    color: #ff555a;
  }
}

@media all and (min-width: 1025px) {
  .contact_us {
    display: grid;
    grid-template-columns: 33% 63%;
    width: 100%;
    margin-top: 8rem;
    padding: 0vh 3.5% 0vh 3.5%;
  }

  // New review
  .contactInfo {
    margin-top: initial;
    padding: initial;
  }

  .contactInfo_wrapper {
    border-bottom: 1px #d3d3d3 solid;
    border-top: 1px #d3d3d3 solid;
    overflow: hidden;
    height: 4.2rem;
    transition: ease 300ms;

    & h3 {
      font-size: 0.9rem;
      color: $text-color;
      font-weight: map-get($font-weights, regular);
      margin-top: 0.9rem;
    }
  }

  .contactInfo_wrapper_open {
    height: 29vh;
    max-height: 190px;
  }

  .contactInfo_title {
    display: flex;
    height: 4.2rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    & h2 {
      font-size: 1.1rem;
    }

    & img {
      width: 1.1rem;
      cursor: pointer;
      padding: 1rem 0 1rem 0;
    }
  }

  // Contact forms
  .contact_forms {
    display: flex;
    flex-direction: column;
    padding: 0vh 3.5% 0vh 5%;
    margin-top: 0;
    margin-left: 4%;
    transition: $transition-ease;

    & h1 {
      font-size: 3rem;
      margin-bottom: 1.1rem;
    }

    & input {
      width: 87%;
      height: 3.15rem;
      border: 1.3px #b6b6b6 solid;
      border-radius: 3px;
      margin-top: 0.48rem;
      padding: 0vh 2.8% 0vh 2.8%;
      font-size: 0.9rem;
      font-weight: map-get($font-weights, regular);
      color: #808080;

      &::placeholder {
        color: #808080;
      }
    }

    & textarea {
      width: 87%;
      height: 18.5vh;
      border: 1.3px #b6b6b6 solid;
      border-radius: 3px;
      margin-top: 0.48rem;
      padding: 0.76rem 2.8% 0vh 2.8%;
      outline: none;
      resize: none;
      color: #3d3d3d;
      font-family: $font-family;

      &::placeholder {
        color: #424242;
        font-family: $font-family;
        font-weight: map-get($font-weights, regular);
        font-size: 0.9rem;
      }
    }

    & button {
      @include button;
      height: 3.1rem;
      font-size: 0.9rem;
      margin-top: 1.1rem;
    }
  }

  // Errors
  #contact_contactName_missing,
  #contact_contactEmail_missing,
  #contact_contactMsg_missing {
    border: 1.3px #ff555a solid;

    &::placeholder {
      color: #ff555a;
    }
  }
}

// Tablet view
@media all and (min-width: 768px) and (max-width: 1024px) {
  // New review
  .contactInfo {
    padding: 0vh 3.5vw 0vh 3.5vw;
    margin-top: 14.5vh;
  }

  .contactInfo_wrapper {
    border-bottom: 1px #d3d3d3 solid;
    border-top: 1px #d3d3d3 solid;
    overflow: hidden;
    height: 4.7rem;
    transition: ease 300ms;

    & h3 {
      font-size: 1.1rem;
      color: $text-color;
      font-weight: map-get($font-weights, regular);
      margin-top: 0.75rem;
    }
  }

  .contactInfo_wrapper_open {
    height: 20.3vh;
    max-height: initial;
  }

  .contactInfo_title {
    display: flex;
    height: 4.7rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    & h2 {
      font-size: 1.55rem;
    }

    & img {
      width: 1.55rem;
    }
  }

  // Contact forms
  .contact_forms {
    display: flex;
    flex-direction: column;
    padding: 0vh 3.5vw 0vh 3.5vw;
    margin-top: 6vh;

    & h1 {
      font-size: 2.1rem;
      margin-bottom: 1.1rem;
    }

    & input {
      width: 100%;
      height: 6.6vh;
      border: 1.3px #b6b6b6 solid;
      border-radius: 3px;
      margin-top: 0.48rem;
      padding: 0vh 4vw 0vh 4vw;
      font-size: 1.14rem;
      font-weight: map-get($font-weights, regular);
      color: #808080;

      &::placeholder {
        color: #808080;
      }
    }

    & textarea {
      width: 100%;
      height: 18.5vh;
      border: 1.3px #b6b6b6 solid;
      border-radius: 3px;
      margin-top: 0.48rem;
      padding: 0.76rem 4vw 0vh 4vw;
      outline: none;
      resize: none;
      color: #3d3d3d;
      font-family: $font-family;

      &::placeholder {
        color: #424242;
        font-family: $font-family;
        font-weight: map-get($font-weights, regular);
        font-size: 1.14rem;
      }
    }

    & button {
      @include button;
      height: 3.95rem;
      width: 14rem;
      font-size: 1.04rem;
      margin-top: 1.1rem;
    }
  }

  // Errors
  #contact_contactName_missing,
  #contact_contactEmail_missing,
  #contact_contactMsg_missing {
    border: 1.3px #ff555a solid;

    &::placeholder {
      color: #ff555a;
    }
  }
}
